@font-face {
  font-family: 'BlobSpongeyLowercase';
  src: url('/fonts/BlobSpongeyLowercase-wKq3.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "BlobSpongeyLowercase", serif;
  font-size: 18px;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
}

/*.pageContent {*/
/*  padding: 20px;*/
/*}*/