@import "../../mixins";

$second: #69b8d0;

.header {
  height: 100vh;

  position: relative;

  &__arrow {
    height: 40px;
    cursor: pointer;

    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);

    img {
      max-height: 100%;
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    color: white;
    text-align: center;

    h1, h2 {
      margin: 0;
      padding: 0;
    }

    &_main {
      font-size: 28px;
      text-transform: uppercase;

      .name {
        //color: #EC9A6B
      }

      .surname {
        color: $second;

        &__last {
          position: relative;

          .christmas {
            position: absolute;
            left: 50%;
            height: 15px;
            transition: transform 2s;

            &:hover {
              transform: rotate(360deg);
            }
          }
        }
      }
    }

    &_description {
      position: relative;
      font-size: 17px;


      .text {

        &:after {
          position: absolute;
          content: '';
          height: 2px;
          bottom: -6px;

          margin: 0 auto;
          left: 0;
          right: 0;
          width: 200px;
          background: $second;

          transition: 0.3s;
        }

        &:hover:after {
          width: 250px;
        }
      }
    }
  }

  &__social {
    height: 40px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
}

.block {
  padding: 40px 0;
}

.projects {
  margin: 0 auto;
  padding: 40px 0;

  h2 {
    color: $second;
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 425px) {
  .header {
    &__text {
      &_main {
        font-size: 40px;

        .surname {
          &__last {
            .christmas {
              height: 30px;
            }
          }
        }
      }

      &_description {
        font-size: 24px;
      }
    }
  }
}

@media (min-width: 860px) {
  .header {

    &__text {
      &_main {
        font-size: 60px;

        .surname {
          &__last {
            .christmas {
              height: 50px;
            }
          }
        }
      }

      &_description {
        font-size: 27px;
      }
    }
  }

  .projects {
    &__cards {
      flex-direction: row;
      align-items: normal;
    }
  }
}
