.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.skew {
  transform: skew(0deg, -5deg);
  background: rgba(211, 211, 211, 0.3);
  width: 100%;

  /*padding: 50px 0;*/
}

.content {
  padding: 100px 0;
  font-size: 56px;
  text-align: center;

  transform: skew(0deg, 5deg);
}


/*.imagesContainer .js {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/

/*  animation: moveJs 3s infinite alternate-reverse running;*/
/*}*/

/*.imagesContainer .js:hover {*/
/*  animation-play-state: paused;*/
/*}*/

/*@keyframes moveJs {*/
/*  from {*/
/*    transform: translate(0, 100px);*/
/*  }*/

/*  to {*/
/*    transform: translate(0, 0);*/
/*  }*/
/*}*/

.author {
  color: #e05353;
}