.imagesContainer {
  width: 500px;
  height: 500px;
  /*margin: 0 auto;*/

  position: relative;
  /*transform: skew(0deg, 5deg);*/
}

.character img, .desc img, .floor img, .shadows img {
  height: 500px;
}

.imagesContainer .character {
  position: absolute;
  z-index: 10;

  animation: characterMove 3s, opacity 3s;
}

@keyframes characterMove {
  from {
    transform: translate(-100px, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

.imagesContainer .desc {
  position: absolute;
  z-index: 9;
  height: 500px;

  animation: descMove 3s, opacity 3s;
}

@keyframes descMove {
  from {
    transform: translate(100px, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

.imagesContainer .plant {
  position: absolute;
  z-index: 9;
  height: 120px;

  right: 75px;
  bottom: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.plant img {
  height: 100%;
  animation: plantSize 3s;
}

@keyframes plantSize {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

.imagesContainer .shadows {
  position: absolute;
  z-index: 8;

  animation: opacity 3s;
}

.imagesContainer .floor {
  position: absolute;
  z-index: 7;

  animation: opacity 3s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}